/* NOTE:
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

@font-face {
  font-family: "Zen Maru Gothic";
  src: local(ZenMaruGothic Thin),
  url("../fonts/Zen_Maru_Gothic/ZenMaruGothic-Light.tff") format("tff"),
  local(ZenMaruGothic Thin);
  font-weight: 100;
}

@font-face {
  font-family: "Zen Maru Gothic";
  src: local(ZenMaruGothic Light),
  url("../fonts/Zen_Maru_Gothic/ZenMaruGothic-Light.tff") format("tff"),
  local(ZenMaruGothic Light);
  font-weight: 300;
}

@font-face {
  font-family: "Zen Maru Gothic";
  src: local(ZenMaruGothic Regular),
  url("../fonts/Zen_Maru_Gothic/ZenMaruGothic-Regular.tff") format("tff"),
  local(ZenMaruGothic Regular);
  font-weight: 400;
}

@font-face {
  font-family: "Zen Maru Gothic";
  src: local(ZenMaruGothic Medium),
  url("../fonts/Zen_Maru_Gothic/ZenMaruGothic-Black.tff") format("tff"),
  local(ZenMaruGothic Medium);
  font-weight: 500;
}

@font-face {
  font-family: "Zen Maru Gothic";
  src: local(ZenMaruGothic Bold),
  url("../fonts/Zen_Maru_Gothic/ZenMaruGothic-Bold.tff") format("tff"),
  local(ZenMaruGothic Bold);
  font-weight: 700;
}


html {
  line-height: 1.5;
  font-family: "Zen Maru Gothic", sans-serif !important;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  line-height: 1.1;
}
p {
  font-family: "Zen Maru Gothic", sans-serif;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

.navbar .navbar-brand {
  font-family: "Zen Maru Gothic";
  font-size: 3rem !important;
  letter-spacing: .2rem !important;
  font-weight: 400 !important;
}

.sidenav-header {
  height: inherit; 
}

.bg-gradient-dark {
  background-image: linear-gradient(195deg, #10051D 0%, #533549 100%);
}
.bg-gradient-dark-reverse {
  background-image: linear-gradient(195deg, #533549 0%, #10051D 100%);
}
.bg-gradient-grey {
  background-image: linear-gradient(195deg, #CFDCE3 0%, #929CA1 100%);
}
.bg-gradient-xpurple {
  background-image: linear-gradient(195deg, #10051D 0%, #45167F 100%);
}
.bg-gradient-purple {
  background-image: linear-gradient(195deg, #533549 0%, #603E55 100%);
}
/*.bg-gradient-light-footer { unused
  background-image: linear-gradient(25deg, #533549 15%, #F6B042 45%, #F9ED4E 95%);
}*/
.bg-gradient-primary {
  background-image: linear-gradient(195deg, #F6B042 0%, #F9ED4E 100%);
  color:#533549 !important;
}
.bg-gradient-primary-reverse {
  background-image: linear-gradient(195deg, #F9ED4E 0%, #F6B042 100%);
}
.bg-gradient-yellow {
  background-image: linear-gradient(195deg, #F9ED4E 0%, #F4EB86 100%);
  color:#533549 !important;
}
.bg-gradient-orange {
  background-image: linear-gradient(195deg, #F6B042 0%, #F8C947 100%);
  color:#533549 !important;
}
.bg-gradient-drastic {
  background-image: linear-gradient(195deg, #533549 0%, #F6B042 100%);
}
.bg-gradient-less-drastic {
  background-image: linear-gradient(195deg, #744E48 0%, #533549 100%);
}
.bg-gradient-drastic-reverse {
  background-image: linear-gradient(195deg, #F6B042 0%, #533549 100%);
}
.shadow-dark {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(16, 5, 29, 0.4) !important;
}
.shadow-primary {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(249, 237, 78, .6) !important;
}
.shadow-primary-reverse {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(246, 176, 66, 0.5) !important;
}
.shadow-drastic {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(210, 210, 210, 0.4) !important;
}
.shadow-xpurple {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(16, 5, 29, 0.4) !important;
}
.shadow-purple {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(210, 210, 210, 0.4) !important;
}
.shadow-orange {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(246, 176, 66, 0.5) !important;
}
.shadow-yellow {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(249, 237, 78, .6) !important;
}

.sidenav .collapse .nav-item .nav-link.active {
  color: #533549 !important;
}
.sidenav .collapse .nav-item .nav-link.active i {
  color: #533549 !important;
}


/* older version: */

.gradient-45deg-xiketic-purple {
  background: #10051D;
  background: -webkit-linear-gradient(45deg, #10051D 15%, #533549 85%);
  background: linear-gradient(45deg, #10051D 10%, #533549 90%);
}
.gradient-45deg-xiketic-purple.gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(83, 53, 73, 0.5);
}

.gradient-45deg-xiketic-orange {
  background: #10051D;
  background: -webkit-linear-gradient(45deg, #10051D 15%, #F6B042 85%);
  background: linear-gradient(45deg, #10051D 10%, #F6B042 90%);
}
.gradient-45deg-xiketic-orange.gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(246, 176, 66, 0.5);
}

.gradient-45deg-xiketic-lemon {
  background: #10051D;
  background: -webkit-linear-gradient(45deg, #10051D 15%, #F9ED4E 85%);
  background: linear-gradient(45deg, #10051D 10%, #F9ED4E 90%);
}
.gradient-45deg-xiketic-lemon.gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(249, 237, 78, 0.5);
}

.gradient-45deg-purple-orange {
  background: #533549;
  background: -webkit-linear-gradient(45deg, #533549 15%, #F6B042 85%);
  background: linear-gradient(45deg, #533549 10%, #F6B042 90%);
}
.gradient-45deg-purple-orange.gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(246, 176, 66, 0.5);
}

.gradient-45deg-purple-lemon {
  background: #533549;
  background: -webkit-linear-gradient(45deg, #533549 15%, #F9ED4E 85%);
  background: linear-gradient(45deg, #533549 10%, #F9ED4E 90%);
}
.gradient-45deg-purple-lemon.gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(249, 237, 78, 0.5);
}

.gradient-45deg-orange-lemon {
  background: #F6B042;
  background: -webkit-linear-gradient(45deg, #F6B042 15%, #F9ED4E 85%);
  background: linear-gradient(45deg, #F6B042 10%, #F9ED4E 90%);
}
.gradient-45deg-orange-lemon.gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(249, 237, 78, 0.5);
}

.gradient-45deg-purple-orange-lemon {
  background: #533549;
  background: -webkit-linear-gradient(45deg, #533549 15%, #F6B042 30%, #F9ED4E 55%);
  background: linear-gradient(25deg, #533549 15%, #F6B042 45%, #F9ED4E 95%);
}
/*.gradient-45deg-purple-orange-lemon.gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(249, 237, 78, 0.5);
}*/


.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:1;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  height: 100%;
  z-index: 1000;
}
