<!-- EXAMPLE REPLACE WITH BETTER TEMPLATE -->

<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <script src="{{ url_for('static', filename='js/jquery3.3.1.min.js') }}s"></script>

    <!--<script src="https://kit.fontawesome.com/2304e4818b.js"></script> this one might need to come from fontawesome... but we'll try to download it-->
    <script src="{{ url_for('static', filename='js/kit.fontawesome.2304e4818b.js') }}"></script>

    <title>{% block title %}{{ title }}{% endblock %}</title>

    <!-- Favicons-->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/favicon/apple-touch-icon-152x152.png') }}">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/favicon/mstile-144x144.png') }}">
    <!-- For Windows Phone -->

    <!-- needed for modal -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <!--link rel="stylesheet" href="{{ url_for('static', filename='css/bs.css') }}">-->

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
    <script src="{{ url_for('static', filename='js/materialize1.0.0.min.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>-->

    <!-- CORE CSS-->
    <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize_style.css') }}" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="{{ url_for('static', filename='css/custom/custom.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/flag-icon/css/flag-icon.min.css') }}" type="text/css" rel="stylesheet">
    <!-- HandsOnTable CSS and JS added to the dataset.py file instead -->
    <!-- <link href="{{ url_for('static', filename='css/handsontable.css') }}" type="text/css" rel="stylesheet">-->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.css">-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.js"></script>-->
    <script src="{{ url_for('static', filename='js/handsontable.full.min.js') }}"></script>

    <script>
      function modifyRun() {
        var buttons = document.getElementsByTagName("button");
        for(var i = 0; i < buttons.length; i++){
          if(buttons[i].innerHTML == "► Run"){
            buttons[i].id = 'generate_report';
            buttons[i].onclick = generateReport;
          }
          if(buttons[i].innerHTML == "↓ Download"){
            buttons[i].id = 'generate_excel';
            buttons[i].onclick = generateReport;
          }
          if(buttons[i].innerHTML == "↓ Excel"){
            buttons[i].id = 'generate_excel';
            buttons[i].onclick = generateReport;
          }
          if(buttons[i].innerHTML == "↓ PDF"){
            buttons[i].id = 'generate_pdf';
            buttons[i].onclick = generateReport;
          }
        }
      }

      function generateReport() {
        // erase everything we can except modal
        var mainDisplay = document.getElementsByClassName("main-display")[0];
        var clearFix = mainDisplay.getElementsByClassName("bk-clearfix");
        for(var i = 0; i < clearFix.length; i++){
            if(clearFix[i].innerHTML.indexOf("modal-content") == -1 && clearFix[i].innerHTML.indexOf("spinner-display") == -1) {
                clearFix[i].innerHTML = "";
            }
        }
        var reportTabs = mainDisplay.getElementsByClassName("bk-tabs-header");
        for(var i = 0; i < reportTabs.length; i++){
            reportTabs[i].innerHTML = "";
        }
        // create spinner
        var spinnerDisplay = mainDisplay.getElementsByClassName("spinner-display");
        // <div style="background-color: lightgray; padding: 12px; border-radius: 10px;">
        // style="background-color: lightgray;padding: 12px;border-radius: 10px;border-width: 1px;border-color: brown;border-style: solid;"
        // <div class="bk card" style="padding: 12px;">
        generatingHTML = `
        <div style="background-color: white; padding: 20px; border-radius: 10px;">
          <span>
            <div class="preloader-wrapper active">
              <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
            <em>Generating report, please wait...</em>
          </span>
        </div>
        `;
        timeoutHTML = `
        <div style="background-color: lightgray;">
          <span>
            <em>Report Generation timed out.<br/>
            Please refresh the page and try again.<br>
            If this problem persists please report this as a bug.</em>
          </span>
        </div>
        `;
        spinnerDisplay[0].innerHTML = generatingHTML
        setTimeout(
          function(){
            if(spinnerDisplay[0].innerHTML == generatingHTML){
              spinnerDisplay[0].innerHTML = timeoutHTML;
            }
          },
          2 * 60 * 1000
        );
      }
    </script>
    {% block inner_head %}
    {% block preamble %}{% endblock %}
    {% block resources %}
        {% block css_resources %}
        {{ bokeh_css | indent(8) if bokeh_css }}
        {% endblock %}
        {% block js_resources %}
        {{ bokeh_js | indent(8) if bokeh_js }}
        {% endblock %}
    {% endblock %}
    {% block postamble %}{% endblock %}
    {% endblock %}
  </head>
  {% endblock %}
  <body onclick="modifyRun()">
    <!-- Start Page Loading -->
    <!--<div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>-->
    <!-- End Page Loading -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START HEADER -->
    {% include 'header.html' %}
    <!-- END HEADER -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START MAIN -->
    <div id="main" onclick="searchHide()">
      <!-- START WRAPPER -->
      <div class="wrapper">

        <!-- START LEFT SIDEBAR NAV-->
        {% include 'nav-side.html' %}
        <!-- END LEFT SIDEBAR NAV-->

        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <!-- START FLASH -->
        <div>
          <script>
            function delete_this(flash){
              $(flash).parent().remove()
            }
          </script>
          <article class="flashes">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                  {% for message in messages %}
                    <li class="card" onclick=delete_this(this)>
                      <a title="remove"><p style="margin: 15px; color: #868A8E; cursor: pointer;">
                        {{message}}
                        <i class="small material-icons right">close</i>
                      </p></a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
          </article>
        </div>
        <!-- END FLASH -->
        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <!-- START CONTENT -->
        <section id="content">
          <!--start container-->
          <div class="container" style="position: relative;display: block;top: -15px">

            {% block content %}
            {% endblock %}

          </div>
          <!--end container-->
        </section>
        <!-- END CONTENT -->

        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <!-- START RIGHT SIDEBAR NAV-->
        <aside id="right-sidebar-nav">
          <ul id="chat-out" class="side-nav rightside-navigation">
            <li class="li-hover">
              <div class="row">
                <div class="col s12 border-bottom-1 mt-5">
                  <ul class="tabs">
                    <li class="tab col s4">
                      <a href="#settings">
                        <span class="material-icons">settings</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div id="settings" class="col s12">
                  <h6 class="mt-5 mb-3 ml-3">GENERAL SETTINGS</h6>
                  <ul class="collection border-none">
                    <li class="collection-item border-none">
                      <div class="m-0">
                        <span class="font-weight-600">Notifications</span>
                        <div class="switch right">
                          <label>
                            <input checked type="checkbox">
                            <span class="lever"></span>
                          </label>
                        </div>
                      </div>
                      <p>Use checkboxes when looking for yes or no answers.</p>
                    </li>
                    <li class="collection-item border-none">
                      <div class="m-0">
                        <span class="font-weight-600">Show Task statistics</span>
                        <div class="switch right">
                          <label>
                            <input type="checkbox">
                            <span class="lever"></span>
                          </label>
                        </div>
                      </div>
                      <p>The for attribute is necessary to bind our custom checkbox with the input.</p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </aside>
        <!-- END RIGHT SIDEBAR NAV-->

        <!-- //////////////////////////////////////////////////////////////////////////// -->

      </div>
      <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <!--
    <footer class="page-footer gradient-45deg-crimson-monarch">
        <div class="footer-copyright">
          <div class="container">
            <span>
              <a class="grey-text text-lighten-2" href="/" target="_blank"> </a>
              </span>
            <span class="right hide-on-small-only">
              Version
              <a class="grey-text text-lighten-2" href="/">
                <script type="text/javascript">
                  document.write(new Date().getFullYear());
                </script>
                .1
              </a>
            </span>
          </div>
        </div>
    </footer>
    -->
    <!-- END FOOTER -->

    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendors/jquery-3.2.1.min.js') }}"></script>
    <!--materialize js-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="{{ url_for('static', filename='vendors/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom-script.js') }}"></script>

  </body>
</html>
