<!-- EXAMPLE REPLACE WITH BETTER TEMPLATE -->

{% extends "basic.html" %}

{% block content %}

  <script type="text/javascript" src="{{ url_for('static', filename='js/fav-dash.js') }}"></script>


  <div class="">
    <!--<p>Welcome {{ user['first'] }} {{ user['last'] }}</p>-->
  </div>

  <!--work collections start-->
<div id="work-collections">
  <div class="row">
    <div class="col s12 m6 l6">
      <ul id="projects-collection" class="collection z-depth-1">
        <li class="collection-item avatar">
          <i class="material-icons monarch circle">star</i> <!--bookmark-->
          <h6 class="collection-header m-0" style="margin-top: 12px !important">Favorites</h6>
        </li>
        {% for name, details in favorites.items() %}
        <li class="collection-item" id="dash_fav_{{name}}">
          <div class="row">
            <a href="{{ url_for('report', name=name) }}">
              <div class="col s9">
                <p class="collections-title">{{ details['title_name'] }}</p>
                <p class="collections-content">{{ details['parent_name'] }}</p>
              </div>
            </a>
            <div class="col s3">
              <a href="{{ url_for('remove_favorite', report_name=name) }}" onclick="remove_dash_fav('dash_fav_{{name}}')" class="honey-text">
                <i class="material-icons">star</i>
              </a>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% if tip %}
      <ul id="projects-collection" class="collection z-depth-1">
        <li class="collection-item avatar">
          <i class="material-icons steel circle">info</i> <!--highlight info-outline-->
          <h6 class="collection-header m-0" style="margin-top: 12px !important">Tip of the day...</h6>
        </li>
        <li class="collection-item" >
          <div class="row">
            <span>
              <div class="col s12">
                <p class="collections-title">{{ tip['question'] }}</p>
                <p class="collections-content">{{ tip['answer'] }}</p>
              </div>
            </span>
          </div>
        </li>
      </ul>
      {% endif %}
    </div>
    {% if popularities %}
    <div class="col s12 m6 l6">
      <ul id="projects-collection" class="collection z-depth-1">
        <li class="collection-item avatar">
          <i class="material-icons honey circle">favorite</i> <!--bookmark-->
          <h6 class="collection-header m-0" style="margin-top: 12px !important">Popularity</h6>
        </li>
        {% for name, details in popularities.items() %}
        <li class="collection-item" id="dash_fav_{{name}}">
          <div class="row">
            <span title="{{ details['percentage']|round(1) }} %">
              <a href="{{ url_for('report', name=name) }}">
                <div class="col s6">
                  <p class="collections-title">{{ details['title_name'] }}</p>
                  <p class="collections-content">{{ details['parent_name'] }}</p>
                </div>
              </a>
              <div class="col s6">
                <div class="progress">
                  <div class="determinate" style="width: {{ details['display_percentage'] }}%"></div>
                </div>
              </div>
            </span>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
<!--work collections end-->


{% endblock %}
