<!-- EXAMPLE REPLACE WITH BETTER TEMPLATE -->
<body > 
  <header id="header" class="page-topbar">
    <div class="navbar-fixed">
      <nav class="navbar-color gradient-45deg-purple-orange-lemon">
        <div class="nav-wrapper">
          <ul class="left">
            <li>
              <h1 class="logo-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo darken-1">
                  <span class="logo-text">Sat<img src="{{ url_for('static', filename='img/ensodarkclear.png') }}" width="17.5" height="17.5" style='margin-right: 0.2rem;'>ri</span>
                </a>
              </h1>
            </li>
          </ul>
          <ul class="right">
            <li title='Full Screen' class='hide-on-med-and-down'>
              <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                <i class="material-icons">settings_overscan</i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

